@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v10/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v10/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v10/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'MyriadPro-BoldCond';
  src: url('MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-BoldCond.otf')  format('opentype'),
	     url('MyriadPro-BoldCond.woff') format('woff'), url('MyriadPro-BoldCond.ttf')  format('truetype'), url('MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0;
	background: #FFFFFF;
	font-family: 'Lato', 'Helvetica';
}

a {
	text-decoration: none;
	font-weight: 400;
	color: #0000A0;
}

a:hover {
	color: #000000;
}

span::selection {
	background-color: #25408F;
	color: #FFFFFF;
}

.fa {
	color: white;
}

.fa:hover {
	color: blue;
}

.bold {
	font-weight: 400;
	color: #000000;
}
#header {
	width: 100%;
	height: 400px;
	background-image: url("background.jpg");
	background-repeat: repeat;
	text-align: center
}

.title {
	font-family: 'MyriadPro-BoldCond', 'Lato', 'Helvetica';
	color: #FFFFFF;
}

#top.title {
	text-align: center;
	padding-top: 12%;
	font-size: 85px;
}

#bottom.title {
	position: relative;
	top: 30px;
	padding-left: 8%;
	text-align: left;
	font-size: 45px;
}

.title-column {
	display: inline-block;
	margin-top: 20px;
	margin-left: 3%;
	margin-right: 3%;
}

.icon {
	height: 50%;
	width: 50%;
	transition: 0.12s ease-out;
	-webkit-transition: 0.12s ease-out;
}


#experiences {
	text-align: center;
}

.experience-item {
	padding-top: 10%;
	padding-bottom: 10%;
}

.divider {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
}

.experience-image {
	border-radius: 10%;
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
}

.experience-image2 {
	border-radius: 10%;
	width: 150px;
	height: 150px;
	background-color: #FFFFFF;
	transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
}

.experience-title {
	margin-top: 5%;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
}

.experience-subtitle {
	color: #9E9E9E;
	font-size: 20px;
}

.left-column {
	display: inline-block;
	margin-left: 20px;
	margin-right: 40px;
	width: 300px;
}

.right-column {
	display: inline-block;
	text-align: left;
	margin-left: 40px;
	margin-right: 45px;
	width: 50.5%;
	font-weight: 300;
	line-height: 150%;
	font-size: 20px;
	color: #808080;
}

#and-javascript {
	display: none;
	color: #25408F;
}


@media (max-width: 910px) {
	.right-column {
		margin-top: 40px;
	}
}

@media (min-width: 1550px) {
	#top.title {
		padding-top: 5%;
	}
}

@media (min-width: 1px) and (max-width: 423px) {
	.left-column {
		margin-left: 0px;
		margin-right: 0px;
	}
	.right-column {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (min-width: 1px) and (max-width: 587px) {
	#top.title {
		font-size: 55px;
		padding-top: 0px;
	}
	.right-column {
		width: 80%;
	}	
}