body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

#title {
	color: white;
}

.logo {
	width:170px;
	border-radius: 100px;
}

.exp-logo {
	display: block;
	margin: auto;
}


@media only screen and (max-width: 768px) {
	.info {
		margin-left: 2em;
		margin-right: 2em;
	}
}

.fa {
	color: white;
}

.fa:hover {
	color: blue;
}

.header {
	background-image: url("background.jpg");
}

.clearfix {
	clear: both;
}

#apple{
	/*float: left;*/
	/*margin-top: -22px;*/
	/*margin-left: 20px;*/
}

#blackberry{
	/*margin-top: 15px;*/
}

#mbt{
	/*float: right;*/
	/*margin-top: -69px;*/
}